
<div class="body">

    <div class="container">

        <div class="choice">

            <h1 class="loginTitle">Log in</h1>

            <p class="separate">/</p>

            <a href="/register"><button class="choiceGo"> Register </button></a>

        </div>

        <form id="loginForm" class="form">

            <label for="">Email</label>
            <input type="email" name="email" class="loginInput">
            <br>
            <label for="">Password</label>
            <input type="text" name="password" class="loginInput">
            <br>
            <input type="submit" class="loginBtn">

        </form>

    </div>

</div>





<script src="/js/login.js"></script>