
<div class="body">

    <div class="container">

        <div class="choice">

            <h1 class="registerTitle">Register</h1>

            <p class="separate">/</p>

            <a href="/login"><button class="choiceGo"> Log in </button></a>

        </div>
        

        <form id="registerForm" class="form">

            <label for="">Fisrt Name</label>
            <input type="text" name="firstName" class="registerInput">
            <br>
            <label for="">Last Name</label>
            <input type="text" name="lastName" class="registerInput">
            <br>
            <label for="">Email</label>
            <input type="email" name="email" class="registerInput">
            <br>
            <label for="">Password</label>
            <input type="text" name="password" class="registerInput">
            <br>
            <label for="">Birth Date</label>
            <input type="date" name="birthDate" class="registerInput">
            <br>
            <input type="submit" class="registerBtn">

        </form>

    </div>

</div>







<script src="/js/register.js"></script>